<ul class="flat-list buttons">
    <li class="first"><a
            href="https://www.reddit.com/r/nbastreams/comments/7x5n9c/game_thread_san_antonio_spurs_utah_jazz_210000_et/du5nq4o/"
            data-inbound-url="/r/nbastreams/comments/7x5n9c/game_thread_san_antonio_spurs_utah_jazz_210000_et/du5nq4o/?utm_content=permalink&amp;utm_medium=front&amp;utm_source=reddit&amp;utm_name=nbastreams"
            data-href-url="/r/nbastreams/comments/7x5n9c/game_thread_san_antonio_spurs_utah_jazz_210000_et/du5nq4o/"
            data-event-action="permalink" class="bylink" rel="nofollow">永久連結</a></li>
    <li><a href="javascript:void(0)"
           data-comment="/r/nbastreams/comments/7x5n9c/game_thread_san_antonio_spurs_utah_jazz_210000_et/du5nq4o/"
           data-media="www.redditmedia.com"
           data-link="/r/nbastreams/comments/7x5n9c/game_thread_san_antonio_spurs_utah_jazz_210000_et/" data-root="true"
           data-title="Game Thread: San Antonio Spurs @ Utah Jazz (21:00:00 ET)" class="embed-comment">embed</a></li>
    <li class="comment-save-button save-button login-required"><a href="javascript:void(0)">儲存</a></li>
    <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required"
                                                data-event-action="report">檢舉</a></li>
    <li class="give-gold-button"><a href="/gold?goldtype=gift&months=1&thing=t1_du5nq4o"
                                    title="give reddit gold in appreciation of this post."
                                    class="give-gold login-required access-required" data-event-action="gild">贈送金幣</a>
    </li>
    <li class="reply-button login-required"><a class="access-required" href="javascript:void(0)"
                                               data-event-action="comment" onclick="return reply(this)">回覆</a></li>
</ul>
<div class="reportform report-t1_du5nq4o"></div></div>
<div class="child"></div>
<div class="clearleft"></div></div>
<div class="clearleft"></div>
<div class=" thing id-t1_du5nq65 noncollapsed &#32; comment " id="thing_t1_du5nq65" onclick="click_thing(this)"
     data-fullname="t1_du5nq65" data-type="comment" data-subreddit="nbastreams" data-subreddit-prefixed="r/nbastreams"
     data-subreddit-fullname="t5_340mn" data-num-crossposts="0" data-author="velocityraps"
     data-author-fullname="t2_152myp" data-replies="0"
     data-permalink="/r/nbastreams/comments/7x5n9c/game_thread_san_antonio_spurs_utah_jazz_210000_et/du5nq65/"><p
        class="parent"><a name="du5nq65"></a></p>
    <div class="midcol unvoted">
        <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="好評"
             tabindex="0"></div>
        <div class="arrow down login-required access-required" data-event-action="downvote" role="button"
             aria-label="負評" tabindex="0"></div>
    </div>
    <div class="entry unvoted">
        <p class="tagline"><a href="javascript:void(0)" class="expand" onclick="return togglecomment(this)">[–]</a><a
                href="https://www.reddit.com/user/velocityraps"
                class="author may-blank id-t2_152myp">velocityraps</a><span class="flair flair-verified"
                                                                            title="Verified Streamer">Verified Streamer</span><span
                class="userattrs"></span>&#32;<span class="score dislikes" title="18">18 指標</span><span
                class="score unvoted" title="19">19 指標</span><span class="score likes" title="20">20 指標</span>&#32;<time
                title="Tue Feb 13 01:00:04 2018 UTC" datetime="2018-02-13T01:00:04+00:00" class="live-timestamp">1 小時前
        </time>
            <time class="edited-timestamp" title="最後編輯 1 小時前" datetime="2018-02-13T01:07:07+00:00">*</time>&nbsp;<a
                    href="javascript:void(0)" class="numchildren" onclick="return togglecomment(this)">(0 下層留言)</a></p>
        <form action="#" class="usertext warn-on-unload" onsubmit="return post_form(this, 'editusertext')"
              id="form-t1_du5nq65n4y"><input type="hidden" name="thing_id" value="t1_du5nq65"/>
            <div class="usertext-body may-blank-within md-container ">
                <div class="md"><p><a href="http://sasastreams.pw/game4.php?feed=1" rel="nofollow"><strong>HD</strong>
                    EN 720p 4700kbps 60fps Utah Jazz Feed</a> &amp; <a href="http://sasastreams.pw/game4.php?feed=4"
                                                                       rel="nofollow"><strong>HD</strong> EN 720p
                    4700kbps 60fps San Antonio Spurs Feed</a> | Ad Overlay : 1 | Works on Xbox/PS4/iOS/Android/PC/MAC
                </p>
                </div>
            </div>
        </form>