{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                {% block content %}{% endblock %}
            </div>
            <div class="col-sm-3">
                <div class="card mb-sm-4">
                    <h5 class="card-header bg-dark text-white">公告</h5>
                        {% if not recent_notice %}
                            <p class="text-center mt-sm-3">暂无</p>
                        {% endif %}
                        {% for item in recent_notice %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">
                                    <a class="link" href="{% url "Web:notice" %}page-{{ item.id }}/">{{ item.title }}</a>
                                </li>
                            </ul>
                        {% endfor %}
                </div>

                <div class="card mb-sm-4">
                    <h5 class="card-header bg-dark text-white">最近访客</h5>
                    <ul class="list-group list-group-flush">
                        {% if not recent_visitor %}
                            <p class="text-center mt-sm-3">暂无</p>
                        {% endif %}
                        {% for item in recent_visitor %}
                            <li class="list-group-item list-group-item-action">
                            {% if item.user %}
                                <span><strong>{{ item.user.username }}</strong>:{{ item.visitTime|date:"Y-m-d H:i:s" }}</span>
                            {% else %}
                                <span><strong>{{ item.ip }}</strong>:{{ item.visitTime|date:"Y-m-d H:i:s" }}</span>
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="card mb-sm-4">
                    <h5 class="card-header bg-dark text-white">
                        最新留言
                    </h5>
                    <ul class="list-group list-group-flush">
                    {% autoescape off %}
                        {% if not recent_message %}
                            <p class="text-center mt-sm-3">暂无</p>
                        {% endif %}
                        {% for item in recent_message %}
                            <li class="list-group-item list-group-item-action">
                                <div class="media">
                                    <img class="align-self-start rounded-circle d-block" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="60" height="60">
                                    <div class="media-body ml-sm-3">
                                        <strong>{{ item.user.username }}：</strong>
                                        <p>{{ item.content }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% block board %}{% endblock %}
                    {% endautoescape %}
                        <a href="{% url "Web:board-na" %}" class="list-group-item list-group-item-action">
                            <div class="text-center">
                                查看全部留言
                            </div>
                        </a>
                    </ul>
                        {% if message_error_message %}
                            <p>{{ message_error_message }}</p>
                        {% endif %}
                        {% if message_success_message %}
                            <p>{{ message_success_message }}</p>
                        {% endif %}
                        <form action="{% url "Web:board" 1 %}" method="post" class="form-group">
                            <div class="row mt-sm-3">
                                <div class="col-sm-9">
                                    {% csrf_token %}
                                    <input name="content" type="text" placeholder="请输入您的留言" class="form-control ml-sm-2">
                                </div>
                                <div class="col-sm-3">
                                    <input type="submit" value="发表" class="btn btn-primary mr-sm-2">
                                </div>
                            </div>
                        </form>
                </div>
                {% block sidebar %}{% endblock %}
            </div>
        </div>
        {% block others %}{% endblock %}
    </div>
{% endblock %}