{% extends "Admin/base.html" %}
{% block content %}
    <div class="container">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "Admin:index" %}">后台管理系统</a>
            </li>
            <li class="breadcrumb-item active">公告管理</li>
        </ol>
        {% if error_message %}
            <h3 class="text-danger text-center">{{ error_message }}</h3>
        {% endif %}
        {% if success_message %}
            <h3 class="text-success text-center">{{ success_message }}</h3>
        {% endif %}
        <form action="{% url "Admin:notice" %}" method="post" class=" mb-sm-4">
            {% csrf_token %}
            <div class="form-group">
                <label>标题</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label>内容</label>
                <textarea name="content" id="editor1" class="form-control"></textarea>
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace( 'editor1' );
                </script>
            </div>

            <input type="submit" value="发表" class="btn btn-primary btn-lg float-right mt-sm-4">
            <div class="clearfix"></div>
        </form>
        {% if delete_error_message %}
            <h3 class="text-danger text-center">{{ delete_error_message }}</h3>
        {% endif %}
        {% if delete_success_message %}
            <h3 class="text-success text-center">{{ delete_success_message }}</h3>
        {% endif %}
        {% for item in show_notice %}
            <div class="card mt-sm-5 mb-sm-3">
                <div class="card-header">
                    <strong>公告标题：</strong>
                    <a href="{% url "Web:notice" %}page-{{ item.id }}/">
                        {% if item.title|length > 34 %}
                            {{ item.title|slice:":30"|safe }}......</p>
                        {% else %}
                            {{ item.title|safe }}
                        {% endif %}
                    </a>
                </div>
                <div class="card-body">
                    {% if item.content|length > 84 %}
                        {{ item.content|slice:":80"|safe }}......</p>
                    {% else %}
                        {{ item.content|safe }}
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url "Admin:delete_notice" item.id %}" class="btn btn-primary btn-sm mr-sm-4 float-left">删除</a>
                    <a href="#" class="btn btn-primary btn-sm mr-sm-4 float-left">修改</a>
                    <span class="float-right ml-sm-4"><strong>发表者：</strong>{{ item.admin.username }}</span>
                    <span class="float-right"><strong>发表时间：</strong>{{ item.createTime|date:"Y-m-d H:i:s" }}</span>


                </div>
            </div>
        {% endfor %}

        {% if page_list %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                {% if current_page != 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{% url "Admin:notice" %}page-{{ previous_page }}/" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
                    {% for i in page_list %}
                        {% if i != current_page %}
                            <li class="page-item">
                        {% else %}
                            <li class="page-item active">
                        {% endif %}
                                <a class="page-link" href="{% url "Admin:notice" %}page-{{ i }}/">{{ i }}</a>
                            </li>
                    {% endfor %}
                    {% if current_page != last_page %}
                        <li class="page-item">
                            <a class="page-link" href="{% url "Admin:notice" %}page-{{ next_page }}/" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}

{% block head %}
    <title>公告管理</title>
    {% load staticfiles %}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}